.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 50px;
}

.fon {
    display: relative;
}

.oneCard {
    display: absolute;

    margin: 20px !important;
}

.oneCard:hover {

    max-width: 300px;
    display: absolute;

    margin: 20px !important;
}
